body {
	font-family: 'Nunito', sans-serif;
}
.text-font {
	font-family: 'Noto Sans', sans-serif;
}
header nav {
	padding: 10px 0;
	box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
	background-color: #fff;
}
.ace-responsive-menu {
	list-style: none;
	margin: 0;
	padding: 0; 
	/*float: right;      */
}
.ace-responsive-menu li{
	list-style: none;
}
.ace-responsive-menu li ul {
	display:none;
}
.ace-responsive-menu > li {
	display: block;
	margin: 0;
	padding: 0;
	border: 0px;
	float: left;
}
.ace-responsive-menu li a {
	color:#000;
}
.ace-responsive-menu > li > a {
	display: block;
	position: relative;
	margin: 0;
	border: 0px;
	padding: 7px 15px;
	text-decoration: none;
	color: #000;
	font-weight: 700;
}
.ace-responsive-menu li a i {
	padding-right: 5px;
	color: #FF5737;
}
.ace-responsive-menu > li > a i {
	font-size: 16px;
	text-shadow: none;
	color: #FF5737;
}
.ace-responsive-menu li ul.sub-menu li a i {
	padding-right: 10px;
}
.ace-responsive-menu li.menu-active > a, .ace-responsive-menu li.active > a {
	color: #1171D3;
}
.ace-responsive-menu li ul.sub-menu li a:hover, .ace-responsive-menu li ul.sub-menu li.menu-active>a {
	color: #fff;
	background: #0d56a6;
}
.ace-responsive-menu li .menu-active {
	position: relative;
}
.ace-responsive-menu > li > a > .arrow:before {  
	margin-left: 2px;
	display: inline;
	font-family: FontAwesome;
	height: auto;
	content: "\f107";
	font-weight: 300;
	text-shadow: none;
	display: inline-block;
}
.ace-responsive-menu li ul.sub-menu li > a > .arrow:before {
	content: "\f105" !important;
}
.ace-responsive-menu > li > ul.sub-menu {
	display: none;
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
	position: absolute;
}
.ace-responsive-menu li ul.sub-menu {
	z-index: 99;
	background: #fff;
	border: 1px solid #ccc;
}
.ace-responsive-menu li ul.sub-menu > li {
	width: 200px;
}
.ace-responsive-menu li ul.sub-menu li a {
	display: block;
	margin: 0px 0px;
	padding: 12px 20px 12px 15px;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	background: #fff;
}
.ace-responsive-menu > li > ul.sub-menu > li {
	position: relative;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
	position: absolute;
	left: 200px;
	top: 0px;
	display: none;
	list-style: none;
	padding: 0;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
	position: absolute;
	left: 185px;
	top: 0px;
	display: none;
	list-style: none;
}
.ace-responsive-menu > li > ul.sub-menu li > a > .arrow:before {
	float: right;
	margin-top: 1px;
	margin-right: 0px;
	display: inline;
	font-size: 16px;
	font-family: FontAwesome;
	height: auto;
	content: "\f104";
	font-weight: 300;
	text-shadow: none;
}

/* Menu Toggle Btn
----------------------------------------*/
.menu-toggle {
	display: none;
	/*float: left;*/
	width: 100%;
	background: #333;
}
.menu-toggle h3 {
	float: left;
	color: #FFF;
	padding: 0px 10px;
	font-weight: 600;
	font-size: 16px;
}
.menu-toggle .icon-bar {
	display: block !important;
	width: 18px;
	height: 2px;
	background-color: #F5F5F5 !important;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	margin: 3px;
}
.menu-toggle .icon-bar:hover {
	background-color: #F5F5F5 !important;
}
.menu-toggle #menu-btn {
	float: right;
	background: #1171d3;
	border: 1px solid #1171d3;
	padding: 8px;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
	outline: none;
}
.hide-menu {
	display: none;
}


/* Accordion Menu Styles
----------------------------------------*/

ul[data-menu-style="accordion"] {
	width: 250px;
}
ul[data-menu-style="accordion"] > li {    
	display: block;
	margin: 0;
	padding: 0;
	border: 0px;
	float: none !important;
}
ul[data-menu-style="accordion"] > li:first-child {
	border-top: 2px solid #FD5025;
}
ul[data-menu-style="accordion"] li ul.sub-menu > li {
	width: 100%;
}
ul[data-menu-style="accordion"] > li > a > .arrow:before {
	float: right;
	content: "\f105";
}
ul[data-menu-style="accordion"] li.menu-active > a > .arrow:before {
	content: "\f107" !important;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu {
	position: static;
}
ul[data-menu-style="accordion"] > li > a i {
	padding-right: 10px;
	color: #FF5737;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu {
	position: static;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
	position: static;
}
ul[data-menu-style="accordion"] > li {
	border-bottom: 1px solid #242424;
}
ul[data-menu-style="accordion"] li a:hover {
	background: #272727 !important;
}
ul[data-menu-style="accordion"] ul.sub-menu li.menu-active > a > .arrow:before {
	content: "\f107" !important;
}

/* Vertical Menu Styles
----------------------------------------*/

ul[data-menu-style="vertical"] {
	width: 200px;
}
ul[data-menu-style="vertical"] > li {
	float: none;
}
ul[data-menu-style="vertical"] > li:first-child {
	border-top: 2px solid #FD5025;
}
ul[data-menu-style="vertical"] li ul.sub-menu > li {
	width: 100%;
}
ul[data-menu-style="vertical"] > li > a > .arrow:before {
	float: right;
	content: "\f105";
}
ul[data-menu-style="vertical"] > li.menu-active {
	position:relative;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu {
	position: absolute;
	left:200px;
	top:0px;
	width:200px;
}
ul[data-menu-style="vertical"] > li > a i {
	padding-right: 10px;
	color: #FF5737;
}
ul[data-menu-style="vertical"]> li > ul.sub-menu > li ul.sub-menu {
	position: absolute;
	width:200px;
	left: 200px;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
	position: absolute;
	width:200px;
	left: 200px;
}
ul[data-menu-style="vertical"] > li {
	border-bottom: 1px solid #242424;
}
ul[data-menu-style="vertical"] li a:hover {
	background: #272727 !important;
}
.logo img {
	max-height: 75px;
}
.has-search .form-control {
	padding-left: 2.375rem;
	border: 1px solid #1171D3;
	border-radius: 42px;
	height: 64px;
	outline: none;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 64px;
	text-align: center;
	pointer-events: none;
	color: #707070;
}
.has-search .form-control:focus {
	border-color: #000;
	box-shadow: none;
}
.has-search .form-control::placeholder, .resiger-offers .form-control::placeholder {
	font-size: 17px;
	color: #707070;
}
span.currency {
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	padding: 5px;
	font-size: 13px;
	font-weight: 600;
	margin-right: 5px
}
span.btn-login {
	border: 1px solid #1171D3;
	border-radius: 3px;
	font-size: 13px;
	letter-spacing: 0px;
	color: #1171D3;
	padding: 5px;
	cursor: pointer;
	margin-left: 5px;
}
.language img {
	opacity: 0.2;
	border-radius: 5px;
}
.language .active img {
	opacity: 1;
}
#search-form, #tour-diary {
	background: #FBFBFB;
}
.commitment {
	color: #707070;
	font-style: italic;
	font-size: 15px;
}
.tourguide-filter {
	max-width: 80%;
	margin: auto;
}
.tab-content {
	padding: 0;
}
.nav-tabs {
	height: 42px;
	padding: 0;
	position: relative;
	border-bottom: 0;
}
.nav-tabs .nav-item {
	margin-right: 20px;
}
.nav-tabs .nav-item a {
	color: black;
	display: block;
	padding: 8px 25px;
}
.nav-tabs .nav-item.overflow-tab {
	background-color: white;
	display: none;
	position: absolute;
	right: 0;
	width: 150px;
	z-index: 1;
}
.nav-tabs .nav-item.overflow-tab a {
	border: 1px solid lightgray;
	border-radius: 0;
	padding: 6px 10px;
}
.nav-tabs .nav-item.overflow-tab a:hover, .nav-tabs .nav-item.overflow-tab a:focus, .nav-tabs .nav-item.overflow-tab a:active, .nav-tabs .nav-item.overflow-tab a.active {
	background-color: lightgray;
}
.nav-tabs .nav-item.overflow-tab:last-child {
	border-radius: 0 0 0 4px;
}
.nav-tabs .nav-item.overflow-tab-action {
	position: absolute;
	right: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #fff;
	background-color: #1171D3;
}
.nav-tabs .nav-item a {
	color: #707070;
	background: #fff;
	border-radius: 22px;
	display: block;
	padding: 10px 16px;
	font-weight: bold;
}
.tab-content .form-control, #rental-confirm .form-control {
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	height: 64px;
}
.tab-content .form-control::placeholder {
	color: #707070;
	font-size: 17px;
}
.tab-content .form-control:focus, #rental-confirm .form-control:focus {
	box-shadow: none;
	border: 1px solid #1171D3;
}
[class*="form-group-icon-"] {
	position: relative;
}

[class*="form-group-icon-"]>input, [class*="form-group-icon-"]>select {
	padding-left: 40px;
}
[class*="form-group-icon-"]:before {
	font-family: 'Ionicons';
	position: absolute;
	color: rgba(0, 0, 0, .54);
	left: 10px;
	bottom: 0;
	font-size: 24px;
	line-height: 64px;
}
.form-group-icon {
	position: relative;
}
.form-group-icon>input {
	padding-left: 32px;
}
.form-group-icon>i {
	position: absolute;
	color: rgba(0, 0, 0, .54);
	left: 0;
	bottom: calc(0.375rem - 1px);
}
.form-group-icon-pickuppoint:before {
	content: "\f38f";
}
.form-group-icon-pin:before {
	content: "\f3a3";
}
.form-group-icon-vehicle:before {
	content: "\f36f";
}
.form-group-icon-calendar:before {
	content: "\f073";
	font-family: 'FontAwesome';
}
.form-group-icon-id:before {
	content: "\f39e";
}
.form-group-icon-pax:before {
	content: "\f2d8";
}
.form-group-icon-note:before {
	content: "\f453";
}
.form-group-icon-endpoint:before {
	content: "\f3a7";
}
.btn-submit {
	display: block;
	width: 100%;
	height: 64px;
	text-align: center;
	background: #1171D3;
	border: none;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 22px;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
}
a.text-link {
	color: #1171D3;
	font-size: 17px;
	transition: all 0.25s ease-in-out;
}
a.text-link:hover {
	text-decoration: underline;
}
.tour-note {
	color: #200E32;
	font-size: 15px;
}
.text-note {
	color: #BE2828;
	font-size: 17px;
}
.pdamb {
	padding-right: 0;
}
.section-title h2 {
	font-size: 32px;
	color: #200E32;
	margin-bottom: 40px;
	text-decoration: underline;
	font-weight: bold;
}
.list-guides-item {
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	margin-bottom: 15px;
	transition: all 0.2s ease-in-out;
}
.list-guides-item:hover {
	box-shadow: 0px 3px 6px #1171d35c;
}
.guide-image {
	overflow: hidden;
	border-radius: 5px;
}
.guide-image img {
	transition: all 0.2s ease-in-out;
}
.list-guides-item:hover .guide-image img {
	transform: scale(1.1) rotate(3deg);
}
.guide-info {
	padding: 15px 0;
}
.guide-info h4 {
	font-size: 17px;	
	font-weight: bold;
	margin-bottom: 5px;
}
.guide-info h4 a {
	color: #000;
}
.list-guides-item a:hover {
	text-decoration: underline;
}
.guide-info img {
	max-width: 18px;
	margin-left: 8px;
	height: 21px;
}
.guide-age {
	color: #707070;
	font-size: 13px;
}
.rating-star i {
	color: #F8B140;
	font-size: 20px;
	display: inline-flex;
}
.number-star {
	font-size: 17px;
	font-weight: bold;
	color: #200E32;
	margin-left: 10px;
}
.rating-score {
	margin-top: 5px;
	margin-bottom: 15px;
}
.guide-cost {
	background: #F23333;
	border-radius: 5px;
	opacity: 0.8;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px;
	font-size: 15px;
}
a.view-detail {
	color: #200E32;
	font-weight: bold;
	font-size: 13px;
	margin-right: 15px;
}
.view-detail span {
	margin-left: 5px;
}
.list-diary > .col-sm-4 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	padding: 8px;
}
.diary-item {
	background: #FFF;
	box-shadow: 0px 3px 6px #00000014;
	border-radius: 5px;
}
.tour-item {
	background: #fff;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 10px;
}
.diary-image {
	border-radius: 5px 5px 0px 0px;
	position: relative;
	overflow: hidden;
}
.tour-image {
	border-radius: 10px 10px 0px 0px;
	position: relative;
	overflow: hidden;
}
.diary-image img {
	border-radius: 5px 5px 0px 0px;
	transition: all 0.25s ease-in-out;
}
.tour-image img {
	border-radius: 10px 10px 0px 0px;
	transition: all 0.25s ease-in-out;
}
.diary-image:after, .tour-image:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent url('../images/bg.png') 0% 0% no-repeat;
	background-size: cover;
}
.diary-item:hover .diary-image img, .tour-item:hover .tour-image img {
	transform: scale(1.3) rotate(10deg);
}
.guide-diary {
	position: absolute;
	bottom: 12px;
	left: 16px;
}
.image-box {
	position: relative;
}
.guide-diary img {
	max-width: 48px;
	border: 2px solid #1171D3;
}
.guide-diary h4 {
	font-size: 17px;
	font-weight: bold;	
	margin-left: 15px;
}
.guide-diary h4 a {
	color: #fff;
}
.guide-diary h4 a:hover, .diary-info h3 a:hover, a.viewmore:hover {
	text-decoration: underline;
}
.diary-info {
	padding: 15px;
}
.diary-info h3 {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 8px;
	text-transform: uppercase;
}
.diary-info h3 a {
	color: #000;
}
.diary-info .short-descrip {
	font-size: 15px;
	color: #303030;
	margin-bottom: 8px;
}
a.viewmore {
	color: #1171D3;
	font-size: 15px;
	font-weight: bold;
}
#resiger-offers {
	background: #0C3E71;
	color: #fff;
}
#resiger-offers h2 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 8px;
}
#resiger-offers p {
	font-size: 17px;
	margin-bottom: 17px;
}
.resiger-offers {
	max-width: 600px;
	margin: auto;
}
.resiger-offers .form-control {
	height: 68px;
	border-radius: 10px;
}
.form-group-icon-email:before {
	content: "\f422";
	font-size: 30px;
	line-height: 68px;
}
.form-group-icon-password:before {
	content: "\f457";
}
.btn-form {
	height: 68px;
	width: 100%;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	border-radius: 10px;
	background: transparent linear-gradient(90deg, #FDC830 0%, #F37335 100%) 0% 0% no-repeat;
	border: none;
}
.btn-form:focus {
	outline: none;
}
.foot1 {
	background: #2C2C2C;
	color: #fff;
}
.foot1 .container {
	max-width: 960px;
}
.foot-item h3 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 24px;
}
.foot-item li {
	margin-bottom: 12px;
}
.foot-item li:last-child {
	margin-bottom: 0;
}
.foot-item a {
	color: #707070;
	font-size: 17px;
}
.foot-item a:hover {
	text-decoration: underline;
}
.logo-foot img {
	max-height: 40px;
}
.foot2 {
	padding: 15px 0;
}
.copyright {
	margin-left: 30px;
}
.copyright .copyright-text {
	font-size: 13px;
	color: #000;
	margin-bottom: 8px;
}
.copyright .commitment-text {
	font-size: 15px;
	color: #000;
	font-weight: 600;
	margin-bottom: 0;
}
.follow {
	color: #707070;
	font-size: 13px;
	border-left: 2px solid #707070a1;
	padding-left: 7.5px;
}
.follow a {
	background: #3B5998;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: inline-flex;
	text-align: center;
	align-items: center;
	font-size: 25px;
	margin-left: 15px;
}
.follow a i {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.language {
	display: flex;
}
.tour-timer {
	position: absolute;
	bottom: 10px;
	padding: 0 12px;
	color: #F89B33;
	font-size: 15px;
	font-weight: 600;
	width: 100%;
	z-index: 9;
}
.list-tours > .col-sm-4 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.tour-day i {
	margin-right: 11px;
}
.tour-info {
	padding: 20px 10px;
}
.tour-info h3 {	
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 14px;
}
.tour-info h3 a {
	color: #200E32;
}
.tour-info h3 a:hover {
	text-decoration: underline;
}
.tour-start {
	color: #303030;
	font-size: 15px;
	margin-bottom: 5px;
}
.tour-descrip i {
	width: 17px;
	display: inline-block;
	text-align: center;
	margin-right: 8px;
}
.tour-price {
	font-size: 15px;
}
.tour-price .old-cost {
	color: #303030;
	text-decoration: line-through;
	margin-right: 8px;
}
.tour-price .new-cost {
	color: #BE2828;
	font-weight: bold;
}
.not-choose {
	color: color: #200E32;
	font-size: 17px;
	margin-top: 100px;
}
.not-choose a {
	color: #1171D3;
	font-weight: bold;
	transition: all 0.25s ease-in-out;
}
.not-choose a:hover {
	text-decoration: underline;
}
.modal-izi .icon-close {
	background: #DFEDFC;
	color: #1171D3;
	position: absolute;
	right: 12px;
	top: 12px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	width: 36px;
	height: 36px;
	border: 0;
	cursor: pointer;
	z-index: 99;
}
.icon-close:before {
	content: "\f129";
	font-family: "Ionicons";
}
.login-header img {
	max-width: 80px;
	margin-bottom: 17px;
	margin-top: 32px;
}
.login-header .branch {
	color: #303030;
	font-size: 24px;
	margin-bottom: 5px;
}
.login-header {
	font-size: 15px;
	color: #303030;
	margin-bottom: 23px;
}
.iziModal {
	background: #FBFBFB;
}
.login-form-content {
	max-width: 398px;
	margin: auto;
	border: 1px solid #ECECEC;
	border-radius: 5px;
	margin-bottom: 50px;
}
.login-form-content .tab-content {
	background: #fff;
}
.login-form-content .nav-tabs .nav-item.show .nav-link, .login-form-content .nav-tabs .nav-link.active {
	background: #fff;
	font-weight: bold;
	color: #000;
}
.login-form-content .nav-tabs .nav-item a {
	color: #303030;
	background: #F5F5F5;
	border-radius: 0;
	display: block;
	border: none;
	font-weight: normal;
}
.login-form-content .nav-tabs .nav-item {
	margin-right: 0;
	min-width: 50%;
}
.login-form-content .tab-content {
	padding: 24px;
}
.login-form-content .tab-content .form-control {
	height: 48px;
	border: 1px solid #ECECEC;
	border-radius: 5px;
}
.login-form-content [class*="form-group-icon-"]:before {
	line-height: 48px !important;
	font-size: 24px;
}
.login-form-content .form-group {
	margin-bottom: 8px;
}
.btn-quicklogin {
	margin-top: 16px;
	height: 48px;
	font-size: 17px;
}
.login-form-content .form-control::placeholder {
	font-size: 15px;
	color: #303030;
}
.password-forgot a {
	color: #303030;
	font-size: 15px;
	font-style: italic;
	margin-top: 15px;
	display: inline-block;
}
.password-forgot a:hover {
	text-decoration: underline;
}
.other-login {
	font-size: 15px;
	color: #707070;
	position: relative;
	margin-bottom: 12px;
	margin-top: 32px;
}
.other-login:before, .other-login:after {
	content: "";
	position: absolute;
	width: 40%;
	top: 50%;
	height: 1px;
	background: #ececec;
}
.other-login:before {
	left: 0;
}
.other-login:after {
	right: 0;
}
.face-login a {
	color: #3B5998;
	font-size: 17px;
	font-weight: bold;
	background: #fff;
	border: 1px solid #ececec;
	border-radius: 5px;
	display: flex;
	height: 48px;
	align-items: center;
	justify-content: center;
}
.face-login a i {
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	background: #3B5998;
	color: #fff;
	border-radius: 50%;
	margin-right: 9px;
}
.tour-detail-title img {
	border-radius: 10px;
}
.tour-detail-title h1 {
	color: #200E32;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 12px;
	line-height: 30px;
}
.tour-detail-title .tour-descrip {
	margin-top: 20px;
}
.tour-detail-title .tour-descrip i {
	color: #707070;
	margin-right: 11px;
}
.tour-detail-title .tour-descrip .tour-start {
	margin-bottom: 15px;
	font-size: 17px;
}
.tour-detail-title .tour-descrip .tour-price {
	font-size: 17px;
}
.book-tour a {
	background: #1171D3;
	border-radius: 5px;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-top: 32px;
}
h2.tour-detail-heading {
	color: #200E32;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.programer-tour {
	margin-top: 30px;
}
.tour-detail-content {
	color: #000;
	font-size: 17px;
	text-align: justify;
}
.schedule-tour {
	margin-top: 40px;
}
.vertical-timeline {
	width: 100%;
	position: relative;
	padding: 1.5rem 0 1rem
}
.vertical-timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: 120px;
	height: 100%;
	width: 2px;
	background: #707070;
}
.vertical-timeline-element {
	position: relative;
	margin: 0 0 40px;
}
.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
	visibility: visible;
	animation: cd-bounce-1 .8s
}
.vertical-timeline-element-icon {
	position: absolute;
	top: 50%;
	left: 112px;
}
.vertical-timeline-element-icon .badge-dot-xl {
	background-color: #DFEDFC;
	border-radius: 100%;
}
.badge-dot-xl {
	width: 18px;
	height: 18px;
	position: relative
}
.badge:empty {
	display: block;
}
.badge-dot-xl::before {
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -8px 0 0 -8px;
	background: #1171D3;
}
.vertical-timeline-element-content {
	position: relative;
	margin-left: 100px;
	padding-left: 70px;
	font-size: 17px;
	color: #000;
}
.vertical-timeline-element-content .timeline-title {
	font-size: 22px;
	color: #1171D3;
	font-weight: bold;
	margin-bottom: 12px;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
	position: absolute;
	left: -100px;
	top: 60%;
	color: #000;
	font-size: 17px;
}
.date-number {
	display: block;
	position: absolute;
	left: -100px;
	top: 45%;
	color: #1171D3;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}
.vertical-timeline-element-content:after {
	content: "";
	display: table;
	clear: both
}
a.viewmore-detail {
	color: #F89B33;
	font-size: 17px;
	font-weight: bold;
	margin-top: 8px;
	display: block;
}
.morecontent span {
	display: none;
}
.viewmore-detail {
	display: block;
}
.modal-backdrop {
	z-index: 2;
}
.image-guide img {
	position: relative;
	border-radius: 5px;
}
.play-video img {
	max-width: 40px;
	position: absolute;
	bottom: 20px;
	right: 4px;
}
.guide-level {
	column-count: 2;
	color: #707070;
	font-size: 15px;
}
.guide-detail-image {
	max-width: 160px;
}
.guide-detail-info {
	margin-left: 12px;
}
.guide-detail-info h1 {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 8px;
}
.guide-detail-price {
	color: #000;
	font-size: 22px;
	font-weight: bold;
}
a.rent-now {
	display: flex;
	background: #1171D3;
	border-radius: 5px;
	color: #fff;
	height: 56px;
	width: 196px;
	font-size: 17px;
	align-items: center;
	justify-content: center;
	bottom: 0;
	position: absolute;
	right: 0;
}
.guide-detail-content {
	margin-top: 34px;
}
.guide-detail-content .nav-pills .nav-link.active, .guide-detail-content .nav-pills .show>.nav-link {
	color: #1171D3;
	background: none;
	border-bottom: 2px solid #1171D3;
}
.guide-detail-content .nav-pills .nav-link {
	color: #000;
	font-size: 17px;
	border-bottom: 1px solid #d1d1d1;
	border-radius: 0;
	font-weight: 600;
}
#guide-intro {
	font-size: 15px !important;
	font-weight: 600;
}
.guest-comment {
	margin-top: 32px;
}
.guest-comment h2 {
	font-size: 17px;
	color: #000;
	font-weight: bold;
	margin-bottom: 15px;
}
.number-rate {
	font-size: 28px;
	font-weight: bold;
	margin-right: 13px;
}
.rating span {
	color: #303030;
	font-size: 15px;
}
.guest-comment-box {
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	max-width: 676px;
	padding: 12px 16px;
	margin-top: 16px;
}
.guest-info {
	margin-bottom: 5px;
}
.guest-image img {
	max-width: 36px;
	border: 1px solid #F2F2F2;
	border-radius: 50%;
	margin-right: 10px;
}
.guest-name h3 {
	color: #222;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 4px;
}
.guest-name .date-comment {
	color: #9A9A9A;
	font-size: 11px;
}
.guest-star-rate .rating-star i {
	font-size: 13px;
}
.guest-rate {
	margin-bottom: 8px;
}
.guest-rate .text-rate {
	color: #222;
	font-size: 13px;
	margin-left: 14px;
}
.text-comment {
	color: #222;
	font-size: 13px;
}
.video-embed iframe {
	width: 100%;
	height: 450px;
	border: none;
}
.list-guide-vehicle {
	padding: 0 7px;
}
.list-guide-vehicle > .col-sm-3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 8px;
}
.guide-vehicle-item {
	background: #fff;
	box-shadow: 0px 3px 6px #00000014;
	border-radius: 5px;
	cursor: pointer;
}
.guide-vehicle-image {
	position: relative;
}
.guide-vehicle-image img {
	border-radius: 5px 5px 0px 0px;	
}
.vehicle-checked {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	/*display: none;*/
}
.vehicle-checked i {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #11C32D;
	color: #fff;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	font-size: 30px;
}
.liner {
	border-bottom: 2px solid #ededed;
	width: 95%;
	margin: auto;
}
.vehicle-info {
	padding: 12px;
	margin: auto;
}
.vehicle-info h3 {
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 12px;
	text-align: center;
}
a.choose-vehicle {
	background: #DFEDFC;
	border-radius: 5px;
	width: 166px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	color: #1171D3;
	margin: auto;
	transition: all 0.25s ease-in-out;
}
a.choose-vehicle.active {
	background: #FACFCF;
	color: #BE2828;
}
.vehicle-choose, .timer-choose {
	border: 1px solid #1171D3;
	border-radius: 5px;
	background: #fff;
	color: #1171D3;
	padding: 10px;
	font-size: 17px;
	margin-left: 12px;
}
.choosed {
	display: none;
}
.embedded-daterangepicker .daterangepicker::before,
.embedded-daterangepicker .daterangepicker::after {
	display: none;
}
.embedded-daterangepicker .daterangepicker {
	position: relative !important;
	top: auto !important;
	left: auto !important;
	float: left;
	width: 100%;
	margin-top: 0;
}
.embedded-daterangepicker .daterangepicker .drp-calendar {
	width: 50%;
	max-width: 50%;
}
#guide-freetime .datepicker {
	width: 100%;
}
.guide-rental-info h3 {
	color: #000;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}
.guide-rental-info .image-guide, .guide-detail-info {
	margin-bottom: 16px;
}
.guide-rental-info .guide-detail-image {
	padding-right: 0;
}
.guide-rental-info .guide-detail-info {
	margin-left: 0;
}
.guide-rental-info .guide-detail-info h1 {
	margin-top: 0;
}
.guide-rental-info .guide-level {
	column-count: auto;
}
#rental-confirm .form-control:disabled {
	background: #fff;
	color: #200E32;
	font-size: 17px;
	font-weight: 600;
}
#rental-confirm [class*="form-group-icon-"] {
	margin-bottom: 10px;
}
.guide-rental-item .table-bordered td, .guide-rental-item .table-bordered th {
	border: 0;
	border-right: 1px solid #dee2e6;
}
.guide-rental-item .table-bordered th {
	border-bottom: 1px solid #dee2e6;
}
.guide-rental-item tbody tr td:not(:first-child) {
	font-weight: 700;
	font-size: 15px;
}
.guide-rental-item tbody tr td:first-child {
	color: #303030;
}
.guide-rental-item tbody tr td {
	padding-top: 30px;
	padding-bottom: 30px;
}
.form-group-icon-endpoint:after {
	content: "Điểm kết thúc";
	position: absolute;
	right: 15px;
	top: 0;
	color: #707070;
	font-size: 13px;
	font-style: italic;
	line-height: 64px;
}
.form-group-icon-dccode:before {
	content: "\f06b";
	font-family: FontAwesome;
	color: #BE2828;
}
.form-group-icon-voucher:before {
	content: "\f136";
	color: #30AF1F;
}
.total-price {
	margin-bottom: 1rem;
}
.discount-code-item {
	position: relative;
}
#rental-confirm .discount-code-item .form-control {
	height: 40px;
	line-height: 40px;
}
#rental-confirm .discount-code-item [class*="form-group-icon-"]:before {
	line-height: 40px;
	font-size: 20px;
	background: #E8E8E8;
	left: 0;
	padding: 0 10px;
	border-radius: 5px 0px 0px 5px;
}
#rental-confirm .discount-code-item [class*="form-group-icon-"]>input, #rental-confirm .discount-code-item [class*="form-group-icon-"]>select {
	padding-left: 50px;
	color: #200E32;
	font-weight: bold;
	font-size: 15px;
}
.amount-reduced {
	color: #BE2828;
	font-weight: bold;
	font-size: 15px;
	position: absolute;
	right: 15px;
	top: 0;
	line-height: 40px;
}
.division-line {
	height: 2px;
	width: 100%;
	background: #9E9E9E;
	margin-top: 20px;
	margin-bottom: 30px;
}
.last-price-title {
	font-weight: 600;
	font-size: 15px;
}
.last-price {
	color: #1171D3;
	font-size: 22px;
	font-weight: bold;
}
.wrong-price {
	margin-top: 45px;
	text-align: center;
}
.banking a {
	background: #1171D3;
	box-shadow: 0px 6px 12px #1171D33D;
	border-radius: 5px;
	display: flex;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	height: 64px;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 16px;
}
.thank-box {
	text-align: center;
}
.thank-box-icon i {
	width: 160px;
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #11C32D;
	color: #fff;
	font-size: 6rem;
	border-radius: 50%;
	margin: auto;
	margin-top: 50px;
}
.thank-box h2 {
	color: #200E32;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 24px;
	margin-top: 16px;
}
.confirm-banking {
	color: #200E32;
	font-size: 17px;
	font-weight: 600;
	padding: 0 10px;
}
.confirm-banking .emphasize {
	color: #200E32;
	font-size: 17px;
	font-weight: bold;
}
.import-list-customer a {
	padding: 15px 35px;
	background: #1171D3;
	border: 1px solid #1171D3;
	border-radius: 5px;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 16px;
	display: inline-block;
	margin-top: 25px;
}
.go-back a {
	color: #707070;
	font-weight: bold;
	font-size: 22px;
	display: inline-block;
	margin-bottom: 10px;
}
#no-guide {
	text-align: center;
}
.no-guide-icon img {
	max-width: 122px;
	margin-top: 60px;
	margin-bottom: 30px;
}
.no-guide-inform h2 {
	color: #200E32;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 24px;
}
.no-guide-inform-content {
	font-size: 17px;
	font-weight: 600;
	color: #200E32;
}
.no-guide-inform-content .text-inform {
	color: #BE2828;
}
.table-title {
	margin-bottom: 16px;
}
.table-title .btn-info {
	color: #fff;
	background-color: #1171D3;
	border-color: #1171D3;
	border-radius: 5px;
	font-size: 17px;
	font-weight: bold;
}
.table-guest .table-bordered thead th {
	border-bottom-width: 2px;
	background: #104B88;
	color: #fff;
	border-bottom: 0;
}
.table-guest .table-bordered td, .table-guest .table-bordered th {
	border: 2px solid #200E32;
}
.table-guest .form-control {
	border: none;
}
.table-guest .form-control:focus {
	box-shadow: none;
}
.guide-rental-item .tour-item {
	margin-bottom: 16px;
}
.table-price .table thead th {
	color: #707070;
	font-size: 15px;
	border: 0;
}
.guide-rental-item .table-price tbody tr td {
	padding-top: .75rem; 
	padding-bottom: .75rem;
	border: 0; 
}
.guide-rental-item .table-price tbody tr:last-child {
	border-top: 2px solid;
}
.busy-allday {
	background: #BE2828;
}
.datepicker--cell.busy-allday.-disabled- {
	color: #fff;
}
.datepicker--cell.busy-allday.-disabled-.-focus-, .datepicker--cell.-in-range-.-disabled- {
	background: #BE2828;
	color: #fff;
}
.choose-day {
	color: #707070;
	font-size: 15px;
	font-style: italic;
	margin-top: 20px;
}
.explain {
	margin-top: 24px;
}
.explain > div {
	margin-right: 24px;
	color: #222;
	font-size: 13px;
}
.explain span {
	position: relative;
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
}
.explain .freeday span {
	border: 1px solid #707070;
}
.explain .morning-busy span:before, .explain .morning-busy span:after, .explain .afternoon-busy span:before, .explain .afternoon-busy span:after, 
.datepicker--cell-day.morning-busy:before, .datepicker--cell-day.morning-busy:after, .datepicker--cell-day.afternoon-busy:before, .datepicker--cell-day.afternoon-busy:after {
	content: "";
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	z-index: -1;
}
.explain .morning-busy span:before, .explain .afternoon-busy span:before, .datepicker--cell-day.morning-busy:before, .datepicker--cell-day.afternoon-busy:before {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	left: 0;
}
.explain .morning-busy span:before, .explain .afternoon-busy span:after, .datepicker--cell-day.morning-busy:before, .datepicker--cell-day.afternoon-busy:after {	
	background: #F8E340;
}
.explain .morning-busy span:after, .explain .afternoon-busy span:after, .datepicker--cell-day.morning-busy:after, .datepicker--cell-day.afternoon-busy:after {
	right: 0;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
.explain .morning-busy span:after, .explain .afternoon-busy span:before, .datepicker--cell-day.morning-busy:after, .datepicker--cell-day.afternoon-busy:before {
	background: #E8E8E8;
}
.explain .allday-busy span {
	background: #BE2828;
}



@media  (max-width: 768px) {
	ul[data-menu-style="vertical"] , ul[data-menu-style="accordion"],
	ul[data-menu-style="vertical"] li ul.sub-menu {
		width: 100% !important;
	} 
	.ace-responsive-menu {
		float: left;
		width:100%;
	}
	.ace-responsive-menu > li {
		border-bottom: 1px solid #242424;
		float: none;
	}   
	.ace-responsive-menu li a:hover {
		background: #272727 !important;
	}
	.ace-responsive-menu > li:first-child {
		border-top: 2px solid #FD5025;
	}    
	.ace-responsive-menu > li > a i {
		padding-right: 10px;
		color: #FF5737;
	}
	.ace-responsive-menu > li > a > .arrow:before {
		float: right;
		content: "\f105";
	}
	li.menu-active > a > .arrow:before {
		content: "\f107" !important;
	}
	.ace-responsive-menu li ul.sub-menu > li {
		width: 100%;
	}
	.ace-responsive-menu li ul.sub-menu li ul.sub-menu li a
	{
		padding-left: 30px;
	}  
	.ace-responsive-menu li ul.sub-menu li ul.sub-menu li ul.sub-menu li a 
	{
		padding-left: 50px;
	}  
	.ace-responsive-menu > li > ul.sub-menu {
		position: static;
	}
	.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
		position: static;
	}
	.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
		position: static;
	}
	.ace-responsive-menu li ul.sub-menu li.menu-active > a > .arrow:before {
		content: "\f107" !important;
	}
	.pdamb {
		margin-bottom: 1rem;
		padding-right: 15px;
	}
	.form-group {
		margin-bottom: 0;
	}
	.tourguide-filter {
		max-width: 100%;
	}
	.list-guides-item {
		padding-left: 15px;
	}
	.section-title h2 {
		font-size: 27px;
	}
	.guide-info {
		padding: 10px 0;
	}
	.list-diary > .col-sm-4 {
		padding: 0 15px 15px;
	}
	.foot-item {
		margin-bottom: 30px;
	}
	.tourguide-filter .nav-tabs {
		justify-content: flex-start !important;
	}
	.logo img {
		position: absolute;
		max-width: 150px;
		top: 15px;
	}
	.menu {
		display: block !important;
	}
	.language {
		width: 100%;
		padding-top: 13px;
	}
	.show-mobile {
		display: none;
	}
	.tour-item {
		margin-bottom: 15px;
	}
	/**timeline**/
	.vertical-timeline-element-content .vertical-timeline-element-date {
		top: 49%;
	}
	.date-number, .vertical-timeline-element-content .vertical-timeline-element-date {
		position: static;
	}
	.vertical-timeline-element-content {
		margin-left: 0;
		padding-left: 0;
	}
	.vertical-timeline::before, .vertical-timeline-element-icon {
		display: none;
	}
	.vertical-timeline-element-content .timeline-title {
		margin-top: 15px;
	}
	.guide-rental-item {
		margin-bottom: 30px;
	}
}