
<link rel="stylesheet" type="text/css" href="css/datepicker.min.css">
<script type="text/javascript" src="js/datepicker.js"></script>
<script type="text/javascript" src="js/datepicker.vi.js"></script>
<style type="text/css">
.-other-month- {
	visibility: hidden;
}
</style>
<section id="choose-guide">
	<div class="container">
		<div class="row guide-detail">
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-4 p-0 guide-detail-image">
						<div class="image-guide">
							<img src="images/guidedetail.png" class="img-fluid" alt="">
							<div class="play-video">
								<a href="#" class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/Jfrjeg26Cwk" data-target="#video-guide">
									<img src="images/playbutton.png" class="img-fluid" alt="">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-8 p-0">
						<div class="guide-detail-info">
							<h1>Lý Thành Cơ</h1>
							<div class="guide-level">
								<ul class="mb-0 list-unstyled">
									<li>ID: 89373</li>
									<li>Giới tính: Nam</li>
									<li>Tuổi: 27</li>
									<li>Trình độ: Đại học</li>
								</ul>
							</div>
							<div class="d-flex align-content-center rating-score">
								<div class="rating-star">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</div>
								<div class="number-star">4.0</div>
							</div>
							<div class="guide-detail-price">500,000VNĐ</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<a href="confirmrental.html" class="rent-now">Thuê ngay</a>
			</div>
		</div>
		<div class="row guide-detail-content">
			<div class="col-sm-12 p-0">
				<div class="row">
					<div class="col-sm-4 p-0">
						<ul class="nav nav-pills mb-3" id="guide-tab" role="tablist">
							<li class="nav-item"> <a class="nav-link active" id="guide-intro-tab" data-toggle="pill" href="#guide-intro" role="tab" aria-controls="guide-intro" aria-selected="true">Giới thiệu</a> </li>
							<li class="nav-item"> <a class="nav-link" id="guide-vehicle-tab" data-toggle="pill" href="#guide-vehicle" role="tab" aria-controls="guide-vehicle" aria-selected="false">Xe</a> </li>
							<li class="nav-item"> <a class="nav-link" id="guide-freetime-tab" data-toggle="pill" href="#guide-freetime" role="tab" aria-controls="guide-freetime" aria-selected="false">Lịch rảnh</a> </li>
						</ul> 
					</div>
					<div class="col-sm-8">
						<div class="list-choose d-flex align-items-center justify-content-end">
							<div class="vehicle-choose choosed">Chọn xe: <span></span></div>
							<div class="timer-choose choosed">Thời gian thuê: <span></span></div>
						</div>
					</div>
				</div>
				
				<div class="tab-content" id="pills-tabContent p-3">
					<!-- 1st card -->
					<div class="tab-pane fade show active" id="guide-intro" role="tabpanel" aria-labelledby="guide-intro-tab">
						<p>
							Mình tên đầy đủ là Lý Thành Cơ (1992). Cơ bắt đầu công việc travel blogger từ năm 2015, đến nay Cơ đã đi được 39 quốc gia và vùng lãnh thổ với hơn 200 bài blog du lịch. Cơ may mắn được nhiều người công nhận sự nghiệp travel blogger qua nhiều bài báo xuất hiện trên Kênh14, Zing, VnExpress, Vietcetera cũng như phỏng vấn trên truyền hình VTV1, VTV3. Ngoài ra, Cơ cũng hợp tác với nhiều nhãn hàng về du lịch, sản phẩm tiêu dùng, smartphone, máy ảnh, v.v…
						</p> 
						<p>Đến nay, Cơ đã xuất bản 2 quyển sách du ký:<br/> 
							- Tuổi Trẻ Trong Ví Bạn Mua Được Gì? <br/>
							- Thể Giới Rộng Lớn Đừng Đi Một Mình 
						</p>
						<p>
							Quan niệm của Cơ đơn giản rằng nếu như chúng ta dừng trải nghiệm thì chúng ta sẽ già đi, thế nên những năm tháng tuổi trẻ, Cơ muốn trải nghiệm thật nhiều, đi nhiều nơi, khám phá nhiều cung bậc cảm xúc khác nhau để tháng ngày trẻ mãi. Với đôi chân hay đi, đôi mắt hay ngắm nhìn, đôi tay biết viết và chụp ảnh, Cơ ghi lại những trải nghiệm, những suy tư của mình lên trang blog này.
						</p>

						<div class="guest-comment">
							<h2>Khách du lịch nhận xét</h2>
							<div class="d-flex align-content-center">
								<div class="number-rate">4.0</div>
								<div class="rating">
									<div class="rating-star">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
									</div>
									<span>(12,160 Đánh giá)</span>
								</div>
							</div>
							<div class="guest-comment-box">
								<div class="guest-info d-flex align-items-center">
									<div class="guest-image">
										<img src="images/guidediary1.png" alt="" class="img-fluid">
									</div>
									<div class="guest-name">
										<h3>Đặng Thuỳ Trâm</h3>
										<div class="date-comment">12/04/2019</div>
									</div>
								</div>
								<div class="guest-rate d-flex align-items-center">
									<div class="guest-star-rate">
										<div class="rating-star">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
									</div>
									<div class="text-rate">Rất hài lòng</div>
								</div>
								<div class="text-comment">
									Chuyến đi rất vui và mang lại nhiều trải nghiệm thú vị.
								</div>
							</div>
							<div class="guest-comment-box">
								<div class="guest-info d-flex align-items-center">
									<div class="guest-image">
										<img src="images/guidediary1.png" alt="" class="img-fluid">
									</div>
									<div class="guest-name">
										<h3>Đặng Thuỳ Trâm</h3>
										<div class="date-comment">12/04/2019</div>
									</div>
								</div>
								<div class="guest-rate d-flex align-items-center">
									<div class="guest-star-rate">
										<div class="rating-star">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
									</div>
									<div class="text-rate">Rất hài lòng</div>
								</div>
								<div class="text-comment">
									Chuyến đi rất vui và mang lại nhiều trải nghiệm thú vị.
								</div>
							</div>
						</div>
					</div> <!-- 2nd card -->
					<div class="tab-pane fade" id="guide-vehicle" role="tabpanel" aria-labelledby="guide-vehicle-tab">
						<div class="row list-guide-vehicle">
							<div class="col-sm-3">
								<div class="guide-vehicle-item">
									<div class="guide-vehicle-image">
										<img src="images/xe1.png" alt="" class="img-fluid">
										<div class="vehicle-checked choosed"><i class="ion-checkmark-round"></i></div>
									</div>
									<div class="liner"></div>
									<div class="vehicle-info">
										<h3>Xe Vios 2018</h3>
										<a href="javascript:void(0);" class="choose-vehicle">Chọn xe</a>
									</div>
								</div>								
							</div>
							<div class="col-sm-3">
								<div class="guide-vehicle-item">
									<div class="guide-vehicle-image">
										<img src="images/xe2.png" alt="" class="img-fluid">
										<div class="vehicle-checked choosed"><i class="ion-checkmark-round"></i></div>
									</div>
									<div class="liner"></div>
									<div class="vehicle-info">
										<h3>Huyndai alata 2013</h3>
										<a href="javascript:void(0);" class="choose-vehicle">Chọn xe</a>
									</div>
								</div>								
							</div>
						</div>
					</div> <!-- 3nd card -->
					<div class="tab-pane fade third" id="guide-freetime" role="tabpanel" aria-labelledby="guide-freetime-tab">
						<div class="row">
							<div class="col-sm-4">
								<div class="datetimepicker monthToday" data-range="true"></div>
							</div>
							<div class="col-sm-4">
								<div class="datetimepicker nextMonth" data-range="true"></div>
							</div>
							<div class="col-sm-4">
								<div class="datetimepicker next2Month" data-range="true"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="d-flex justify-content-center explain">
									<div class="freeday">
										<span class=""></span> Ngày rảnh
									</div>
									<div class="morning-busy">
										<span class=""></span> Bận từ 00:00 đến 11:59 AM
									</div>
									<div class="afternoon-busy">
										<span class=""></span> Bận từ 12:00 PM đến 11:59 PM
									</div>
									<div class="allday-busy">
										<span class=""></span> Bận cả ngày
									</div>
								</div>
							</div>
							<div class="col-sm-12 text-center">
								<div class="choose-day">Chọn ngày để thuê hướng dẫn viên</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="video-guide" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>        
					<div class="video-embed">
						<iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div> 
</section>

<script type="text/javascript">
	$(document).ready(function() {
		var $videoSrc;  
		var count = 1;

		$('.video-btn').click(function() {
			$videoSrc = $(this).data( "src" );
		});
		$('#video-guide').on('shown.bs.modal', function (e) {
			$("#video").attr('src',$videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0" ); 
		})
		$('#video-guide').on('hide.bs.modal', function (e) {
			$("#video").attr('src',$videoSrc); 
		});

		$('.guide-vehicle-item').click(function() {
			var vehiclename = $(this).find(".vehicle-info h3").html();
			count++;
			$(".vehicle-checked, .vehicle-choose").addClass("choosed");
			$(".choose-vehicle").removeClass('active');
			$(".choose-vehicle").html('Chọn xe');
			if (count%2 ==0) {
				$(this).find(".vehicle-checked").removeClass("choosed");
				$(this).find(".choose-vehicle").addClass('active');
				$(this).find(".choose-vehicle.active").html('Bỏ chọn');
				$(".vehicle-choose").removeClass("choosed");
				$(".vehicle-choose span").html(vehiclename);
			} else {
				$(this).find(".choose-vehicle").html('Chọn xe');
			}
		});

		$( ".datetimepicker" ).datepicker({
			language: "vi",
			position: "top center",
			multipleDatesSeparator: " - ",
			dateFormat: 'dd/mm/yyyy',	
			moveToOtherMonthsOnSelect: false,
			disableNavWhenOutOfRange: true,
		});
		$(".monthToday").datepicker({
			minDate: new Date(),
			onRenderCell: function(date, cellType) {
				if (cellType == 'day' && date.getDate() == 15) {
					return {
						classes: 'busy-allday',
						disabled: true
					}
				}
				if (cellType == 'day' && date.getDate() == 10) {
					return {
						classes: 'morning-busy'
					}
				}
				if (cellType == 'day' && date.getDate() == 21) {
					return {
						classes: 'afternoon-busy'
					}
				}
			},
			onSelect: function (dateText, inst) {
				$(".timer-choose").removeClass("choosed");	
				$(".timer-choose span").html($('.monthToday').val());
				if ($('.monthToday').val() == '') {
					$(".timer-choose").addClass("choosed");	
				}
			}
		});

		var nextmonth = $('.nextMonth').datepicker().data('datepicker');
		nextmonth.date = new Date('10/01/2020');
		$(".nextMonth").datepicker({
			onRenderCell: function(date, cellType) {
				if (cellType == 'day' && date.getDate() == 16 || date.getDate() == 17) {
					return {
						classes: 'busy-allday',
						disabled: true
					}
				}
				if (cellType == 'day' && date.getDate() == 20) {
					return {
						classes: 'morning-busy'
					}
				}
				if (cellType == 'day' && date.getDate() == 27) {
					return {
						classes: 'afternoon-busy'
					}
				}
			},
			onSelect: function (dateText, inst) {
				$(".timer-choose").removeClass("choosed");	
				$(".timer-choose span").html($('.nextMonth').val());
				if ($('.nextMonth').val() == '') {
					$(".timer-choose").addClass("choosed");	
				}
			}
		});

		var next2month = $('.next2Month').datepicker().data('datepicker');
		next2month.date = new Date('11/01/2020');
		$(".next2Month").datepicker({
			onRenderCell: function(date, cellType) {
				if (cellType == 'day' && date.getDate() == 17) {
					return {
						classes: 'morning-busy'
					}
				}
				if (cellType == 'day' && date.getDate() == 18) {
					return {
						classes: 'afternoon-busy'
					}
				}
			},
			onSelect: function (dateText, inst) {
				$(".timer-choose").removeClass("choosed");	
				$(".timer-choose span").html($('.next2Month').val());
				if ($('.nextMonext2Monthnth').val() == '') {
					$(".timer-choose").addClass("choosed");	
				}
			}
		});
	});
</script>