body {
  font-family: 'Nunito', sans-serif;
  background: #F7F7F7;
}
.text-font {
  font-family: 'Noto Sans', sans-serif;
}
#sidebar {
  min-width: 308px;
  max-width: 308px;
  background: #fff;
  color: #200E32;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 99;
  box-shadow: 3px 0px 6px #0000000D;
}
#sidebar.active {
  margin-left: -308px;
}

#sidebar ul.components {
  padding: 0;
}
#sidebar ul li {
  font-size: 16px;
}
#sidebar ul li > ul {
  margin-left: 10px;
}
#sidebar ul li > ul li {
  font-size: 14px;
}
#sidebar ul li a {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  color: #200E32;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  border-right: 3px solid #fff;
}
#sidebar ul li a span {
  color: #200E32;
  font-size: 21px;
  transition: all 0.2s ease-in-out;
}
#sidebar ul li.active a span, #sidebar ul li a:hover span {
  color: #1171D3;
}
#sidebar ul li.active > a, #sidebar ul li a:hover {
  background: #DFEDFC;
  color: #1171D3;
  border-right: 3px solid #1171D3;
}
#sidebar ul li a:hover {
  text-decoration: none;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}
.agent-menu {
  margin-top: 16px;
}
.agent-profile {
  padding: 15px;
  background: url(../images/profilebg.png);
  background-size: cover;
  text-align: center;
}
.account-type {
  background: transparent linear-gradient(90deg, #FDC830 0%, #F37335 100%) 0% 0% no-repeat;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 16px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding: 6px 10px;
}
.account-type i {
  font-size: 18px;
  margin-right: 5px;
}
.agent-inform {
  background: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 99;
}
.agent-inform i {
  font-size: 18px;
  font-weight: bold;
}
.agent-images img {
  max-width: 160px;
  box-shadow: 0px 12px 24px #F89B3352;
  border: 3px solid #F89B33;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 16px;
}
.agent-info h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 10px;
}
.score {
  font-size: 15px;
  color: #fff;
}
.score .number-score {
  color: #F8B140;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
}
.logout-agent a {
  background: #DFEDFC;
  border-radius: 5px;
  color: #1171D3;
  font-size: 17px;
  font-weight: bold;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 16px;
  position: absolute;
  width: -webkit-fill-available;
  bottom: 0;
}
#sidebar .custom-menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#sidebar .custom-menu .btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}
#sidebar .custom-menu .btn i {
  margin-right: -40px;
  font-size: 14px;
}
#sidebar .custom-menu .btn.btn-primary {
  background: transparent;
  border-color: transparent;
}
#sidebar .custom-menu .btn.btn-primary:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #200E32;
  border-radius: 10px;
}
#sidebar .custom-menu .btn.btn-primary:hover,
#sidebar .custom-menu .btn.btn-primary:focus {
  background: transparent !important;
  border-color: transparent !important;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#content {
  width: 100%;
  padding: 25px 15px;
  background: #fff;
  margin-left: 16px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.agent-page-title h2 {
  color: #200E32;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px;
}
.nav-tabs {
  height: 42px;
  padding: 0;
  position: relative;
  border-bottom: 0;
}
.nav-tabs .nav-item {
  margin-left: 20px;
}
.nav-tabs .nav-item a {
  color: black;
  display: block;
  padding: 8px 25px;
}
.nav-tabs .nav-item.overflow-tab {
  background-color: white;
  display: none;
  position: absolute;
  right: 0;
  width: 150px;
  z-index: 1;
}
.nav-tabs .nav-item.overflow-tab a {
  border: 1px solid lightgray;
  border-radius: 0;
  padding: 6px 10px;
}
.nav-tabs .nav-item.overflow-tab a:hover, .nav-tabs .nav-item.overflow-tab a:focus, .nav-tabs .nav-item.overflow-tab a:active, .nav-tabs .nav-item.overflow-tab a.active {
  background-color: lightgray;
}
.nav-tabs .nav-item.overflow-tab:last-child {
  border-radius: 0 0 0 4px;
}
.nav-tabs .nav-item.overflow-tab-action {
  position: absolute;
  right: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #1171D3;
}
.nav-tabs .nav-item a {
  color: #200E32;
  background: #fff;
  border-radius: 22px;
  display: block;
  padding: 10px 16px;
  font-weight: bold;
  font-size: 17px;
  border: 1px solid #E8E8E8;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.profile-content {
  max-width: 650px;
  margin: auto;
}
.avatar-box {
  text-align: center;
  margin-top: 57px;
  margin-bottom: 24px;
}
.agent-avatar {
  display: inline-block;
  position: relative;
}
.agent-avatar img {
  border: 3px solid #F79933;
  border-radius: 50%;
  max-width: 160px;
  position: relative;
}
.change-avatar {
  background: #fff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  width: 36px;
  display: flex;
  height: 36px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  position: absolute;
  right: 12px;
  bottom: 0;
  cursor: pointer;
}
.avatar-text {
  color: #707070;
  font-size: 17px;
  font-weight: 600;
  margin-top: 12px;
}
.infomation-form label {
  color: #707070;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}
.infomation-form .form-control {
  background: #F7F7F7;
  border-radius: 5px;
  height: 48px;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid #F7F7F7;
}
.infomation-form .form-control:focus {
  border: 1px solid #1171D3;
  outline: none;
  box-shadow: none;
}
.agent-update {
  outline: none;
  border: none;
  background: #1171D3;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  width: 308px;
  height: 48px;
  border-radius: 5px;
  margin-top: 32px;

}
.agent-update:focus {
  outline: none;
}
.agent-score-content h3 {
  color: #200E32;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 37px;
}
.type-change-text {
  text-align: center;
  color: #707070;
  font-size: 18px;
  margin-bottom: 30px;
}
.form-exchange {
  max-width: 885px;
  margin: auto;
}
.form-exchange label {
  color: #000;
  font-size: 17px;
  margin-bottom: 8px;
}
.expression {
  color: #707070;
  font-size: 15px;
}
.form-exchange .form-control {
  height: 64px;
  background: #fff;
  border: 2px solid #707070;
  border-radius: 5px;
  color: #200E32;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}
.form-exchange .form-control:focus {
  box-shadow: none;
}
.expression-bt {
  font-size: 17px;
  margin-top: 8px;
  color: #707070;
  display: block;
}
.btn-exchange {
  background: #1171D3;
  border-radius: 5px;
  width: 260px;
  height: 64px;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  margin-top: 40px;
  outline: none;
  border: none;
}
.exchange-icon {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #707070;
}
.exchange-choose .form-control {
  border: 2px solid #1171D3;
  color: #1171D3;
}
.has-icon.exchange-choose:after {
  font-family: 'Ionicons';
  position: absolute;
  color: #1171D3;
  right: 25px;
  bottom: 45px;
  font-size: 24px;
  content: "\f3fe";
  z-index: 99;
}
.has-icon {
  position: relative;
}
.has-icon input {
  cursor: pointer;
}
.has-icon:after {
  font-family: 'Ionicons';
  position: absolute;
  color: #707070;
  right: 25px;
  bottom: 45px;
  font-size: 24px;
  content: "\f401";
  z-index: 99;
}
.eduction-table .table td {
  color: #200E32;
  font-size: 15px;
  font-weight: 600;
}
.eduction-table .table td:last-child {
  color: #1171D3;
  font-size: 17px;
}
.eduction-table .table th {
  color: #000;
  font-size: 17px;
  font-weight: 600;
}
.eduction-table .table .thead-dark th {
  background-color: #E8E8E8;
  border-color: #E8E8E8;
}
.btn-withdrawal a {
  background: transparent linear-gradient(270deg, #FDC830 0%, #F8B140 100%) 0% 0% no-repeat;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  color: #200E32;
  font-size: 22px;
  font-weight: 600;
  width: 168px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -65px;
  right: 0;
}
#agent-money {
  position: relative;
}
.voucher-item {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}
.voucher-item-text-content {
  padding: 12px;
}
.voucher-item-text-image img {
  border-radius: 10px 10px 0px 0px;
}
.voucher-item-text-content h3 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 12px;
}
.voucher-item-text-content h3 a {
  color: #200E32;
}
.voucher-time {
  color: #707070;
  font-size: 13px;
}
.voucher-code-text {
  text-align: center;
  color: #707070;
  font-size: 15px;
}
.voucher-item-code {
  padding: 12px;
}
.voucher-code-image img {
  box-shadow: 0px 3px 6px #0000000D;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}
.date-voucher {
  color: #BE2828;
  font-size: 15px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 10px;
}
.quick-copy-code {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #1171D3;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  color: #1171D3;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.voucher-list > .col-sm-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
}
.destination {
  background: #DFEDFC;
  border-radius: 5px;
  color: #1171D3;
  padding: 4px 8px;
}
.upcoming-tour-item {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 25px;
}
.image-guide img {
  max-width: 80px;
}
.upcoming-tour-time {
  color: #707070;
  font-size: 20px;
  margin-bottom: 12px;
}
.upcoming-tour-name h3 {
  color: #200E32;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
.upcoming-tour-name h3 i {
  margin: 0 16px;
}
.upcoming-tour-price {
  color: #BE2828;
  font-size: 20px;
  font-weight: bold;
}
.upcoming-tour-status {
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  padding: 4px 16px;
  margin-left: 16px;
}
.upcoming-tour-status.paid {
  background: #1DC32D;
}
.upcoming-tour-status.waiting {
  background: #1171D3;
}
.guide-rental-text {
  color: #200E32;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}
.guide-detail-info {
  margin-left: 16px;
}
.guide-detail-info h3 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}
.guide-level {
  color: #707070;
  font-size: 15px;
}
.view-detail a {
  color: #1171D3;
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
  display: block;
}
.right-info {
  border-left: 1px solid #00000029;
  padding-left: 30px;
}
.modal-izi .icon-close {
  background: #DFEDFC;
  color: #1171D3;
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  border: 0;
  cursor: pointer;
  z-index: 99;
}
.icon-close:before {
  content: "\f129";
  font-family: "Ionicons";
}
h2.title-pop {
  color: #200E32;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}
h3.title-item {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}
.trip-details .table td, .trip-details .table th {
  border-top: 0;
}
.trip-details-info .table td:first-child {
  color: #707070;
  font-size: 17px;
}
.trip-details-info .table td:last-child {
  color: #200E32;
  font-size: 17px;
  font-weight: 600;
}
.trip-details-info {
  margin-bottom: 30px;
}
.payment-invoice .table td:first-child {
  color: #303030;
  font-size: 15px;
}
.payment-invoice .table td:last-child {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  text-align: right;
}
.total-bill {
  font-size: 22px;
  font-weight: bold;
}
.line-up {
  border-top: 1px solid #200E32;
}
.line-down {
  border-bottom: 1px solid #200E32;
}
.tour-guide-info .image-guide img {
  max-width: 135px;
  border-radius: 5px;
}
.guide-email {
  color: #200E32;
  font-size: 15px;
}
.guide-email i {
  margin-right: 5px;
  font-size: 20px;
  vertical-align: middle;
}
.tour-guide-info {
  margin-bottom: 10px;
}
[class*="form-group-icon-"] {
  position: relative;
}
[class*="form-group-icon-"]:before {
  font-family: 'Ionicons';
  position: absolute;
  color: rgba(0, 0, 0, .54);
  left: 10px;
  bottom: 0;
  font-size: 24px;
  line-height: 64px;
}
.form-group-icon-note:before {
  content: "\f453";
}
[class*="form-group-icon-"]>input, [class*="form-group-icon-"]>select {
  padding-left: 40px;
}
.trip-details .form-control {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  height: 64px;
  color: #1171D3;
  font-size: 17px;
  font-style: italic;
  background: #fff;
}
.trip-details .form-control:focus {
  box-shadow: none;
}
.view-list-guest a {
  color: #1171D3;
  font-size: 17px;
  font-weight: bold;
  margin-top: 16px;
  display: block;
}















@media (max-width: 991px) {
  #sidebar {
    margin-left: -308px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebar .custom-menu {
    display: inline-block;
  }
  #sidebarCollapse span {
    display: none;
  }
  #content {
    margin-left: 0;
  }
  .agent-page-title h2 {
    margin-left: 30px;
  }
  .btn-withdrawal a {
    position: static;
    margin-bottom: 20px;
    float: right;
  }
  .right-info {
    border-left: 0;
    padding-left: 15px;
  }

}
@media (prefers-reduced-motion: reduce) {
  #sidebar .custom-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}